<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iReporter|Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />

</head>

<body>
    <div class="flex-container container">
        <div class="banner">
            <img class="banner-img" src="../assets/img/logo.png">
        </div>
        <br><br>
        <div class="Login-container">
            <h3>Login</h3>
            <form action="change-status.htm">
                <input type="email" required placeholder="Email">
                <input type="password" required placeholder="Password">

                <button id="login_btn" href="change-status.htm">Login</button>
            </form><br>
            <p class="h4">Login as <a class="login_link" href="index.htm">  User</a></p>
            <br>

        </div>
</body>

</html>