<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iReporter|Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/response_messages.css" />
</head>

<body>
    <div class="flex-container container">
        <div class="banner">
            <img class="banner-img" src="../assets/img/logo.png">
        </div>
        <br><br>
        <div class="Login-container">
                <div id="message_box"></div>
                <div id="error_box"></div>
            <h3>Login</h3>
            <form >
                <input id="email" type="email" required placeholder="Email">
                <input id="password" type="password" required placeholder="Password">

                <button id="login_btn" onclick="logInAdmin(event)">Login</button>
            </form><br>
            <p class="h4">Login as <a class="login_link" href="index.htm">  User</a></p>
            <br>

        </div>
    <script src="../assets/js/loginadmin.js"></script>
</body>

</html>