<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change record status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/create_report.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/view-records.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/change-status.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/response_messages.css" />


</head>

<body onload="fetchIncidents('red-flag'); setDefaultType(); fetchUserDetails();">
    <div class="flex-container-grid">
        <div class="menu-container">
            <div class="banner">
                <img class="banner-img" src="../assets/img/logo.png">
            </div>
            <div class="menu">

            </div>
            <div class="extra-space">
                <img class="pp" src="../assets/img/sanya.jpg">
                <h5 id="logged_user_name"></h5>
                <ul class="menu-items">

                    <li><a class="extend-link signout" href="index.htm">signout</a></li>
                </ul>
            </div>

        </div>
        <div class="content-container">
            <div class="content">
           
                    <label >Select record type</label>
                    <select onchange="switchPageAdmin()" id="select_type">
                        <option value="redflags" >red-flags</option>
                        <option value="interventions" >interventions</option>
                    </select>
                    <!--<p  class="user-records"><img class="trash" src="../assets/img/delete.png"><img class="edit" src="../assets/img/edit.png"></p>-->
               <div id="display_record">
                <div class="response_container">
                    <div id="message_box"></div>
                    <div id="error_box"></div>
                </div>
               </div>
            </div>
        </div>
    </div>


    <!-- view one record Modal -->
<div id="dataModal"  class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span onclick="closeModal();" class="close">&times;</span>
         <div class="tabs">
             <div class="buttons">
                    <button onclick="switchTab(event, 'Record_details')" class="tablinks active">Record Details</button>
                    <button onclick="switchTab(event, 'changeStatus')" class="tablinks">Change Status</button>
             </div>
             <div class="br"><br><br><br><br><br><br><br><br></div>
             <div class="tabdiv">
                <div onload="dettailsView()" id="Record_details" class="tabcontent">
                    <div class="details_container">
                        <label>Record Type:</label>
                        <div id="record_type_data" class="data">
                        </div>
    
                        <label>Created by:</label>
                        <div id="created_by_data" class="data">
                        </div>
                        <label>Created on:</label>
                        <div id="created_on_data" class="data">
                        </div>
                        <label>comment</label>
                        <div id="record_comment_data" class="data">
                           
                        </div>
                        <label>Location:</label>
                        <div id="location_data" class="data">
                        </div>
                        <label >Record status:</label>
                        <div id="record_status" class="data">
                        </div>
                    </div>
                </div>
               <div id="changeStatus" class="tabcontent">
                   <h3 class="h3">Change status</h3>
                   <form id="change_status_form">
                        <select id="change_status_select">
                            <option value="resolved">resolved</option>
                            <option value="under investigation">under investigation</option>
                            <option value="rejected">rejected</option>
                        </select>
                        <div class="response_container">
                             <div id="edit_status_message_box"></div>
                             <div id="edit_status_error_box"></div>
                         </div>
                         <div class="action_buttons">
                                <button  id="cancel">cancel</button>
                                <button onclick="changeRecordStatus(event);" id="update_comment">Update</button>
                         </div>                        
                        </form>
             </div>
            
            </div>
         </div>
          
        </div>
      
      </div>

    <script src="../assets/js/view_records.js"></script>
    <script src="../assets/js/change_status.js"></script>
    <script src="../assets/js/user_profile.js"></script>
</body>

</html>