<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change record status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/create_report.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/view-records.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/change-status.css" />


</head>

<body>
    <div class="flex-container-grid">
        <div class="menu-container">
            <div class="banner">
                <img class="banner-img" src="../assets/img/logo.png">
            </div>
            <div class="menu">

            </div>
            <div class="extra-space">
                <img class="pp" src="../assets/img/sanya.jpg">
                <h5>Admin</h5>
                <ul class="menu-items">

                    <li><a class="extend-link signout" href="index.htm">signout</a></li>
                </ul>
            </div>

        </div>
        <div class="content-container">
            <div class="content">
                <h3 class="h3heading">Records</h3>
                <p class="user-records">Water system in Seeta town is damaged

                    <select class="mark-status">
                        <option>resolved</option>
                    <option>under investigation</option>
                    <option>rejected</option>
                    </select>
                    <button>change </button>

                </p>
                <p class="user-records">Some street lights in seeta town are not working <select class="mark-status2">
                        <option>resolved</option>
                    <option>under investigation</option>
                    <option>rejected</option>
                    </select>
                    <button>change </button></p>
                <p class="user-records">An electricity pole fell in Bajo town <select class="mark-status3">
                        <option>resolved</option>
                    <option>under investigation</option>
                    <option>rejected</option>
                    </select>
                    <button>change </button></p>
                <p class="user-records">The roads in seeta town have so many pot holes. <select class="mark-status4">
                        <option>resolved</option>
                    <option>under investigation</option>
                    <option>rejected</option>
                    </select>
                    <button>change</button></p>

            </div>
        </div>
    </div>
</body>

</html>