<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create-Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/create_report.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/response_messages.css" />
</head>

<body>
    <div class="flex-container-grid">
        <div class="menu-container">
            <div class="banner">
                <img class="banner-img" src="../assets/img/logo.png">
            </div>
            <div class="menu">
                <ul class="menu-items">
                    <li><a class="active" href="#">Create record</a></li>
                    <li><a href="view-records-user.htm">View records</a></li>
                    <li><a class="extend-link" href="profile.htm">Profile</a></li>

                </ul>
            </div>
            <div class="extra-space">
                <img class="pp" src="../assets/img/sanya.jpg">
                <h5>Sanya Kenneth</h5>
                <ul class="menu-items">

                    <li><a class="extend-link signout" href="index.htm">signout</a></li>
                </ul>
            </div>

        </div>
        <div class="content-container">
            <div class="response_container">
                <div id="message_box"></div>
                <div id="error_box"></div>
            </div>
            <div class="content">
                <form>

                    <label>Select record Category:</label>
                    <select id="select_category">
                                <option value="red-flag">red-flag </option>
                                <option value="intervention">intervention</option>
                            </select>
                    <textarea id="comment" placeholder="Comment"></textarea>
                    <label>Add geolocation (Lat Long Coordinates):</label>
                    <input id="lat_cordinate" type="number" placeholder="Lat coordinates">
                    <input id="long_cordinate" type="number" placeholder="Long coordinates">
                    <button onclick="createRecord(event)" id="post_record">Post record</button>
                </form>

            </div>
        </div>
    </div>

    <script src="../assets/js/create_record.js"></script>
</body>

</html>