<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/create_report.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/view-records.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/profile.css" />

</head>

<body>
    <div class="flex-container-grid">
        <div class="menu-container">
            <div class="banner">
                <img class="banner-img" src="../assets/img/logo.png">
            </div>
            <div class="menu">
                <ul class="menu-items">
                    <li><a href="create_report.htm">Create record</a></li>
                    <li><a href="view-records-user.htm">View records</a></li>
                    <li><a class="active extend-link" class="extend-link" href="#">Profile</a></li>
                </ul>
            </div>
            <div class="extra-space">
                <img class="pp" src="../assets/img/sanya.jpg">
                <h5>Sanya Kenneth</h5>
                <ul class="menu-items">

                    <li><a class="extend-link signout" href="index.htm">signout</a></li>
                </ul>
            </div>

        </div>
        <div class="content-container">
            <div class="content">
                <h3 class="h3heading">Profile</h3>
                <h4>Number of red-flag/intervention records resolved
                    <p class="number-info">4</p>
                </h4>
                <h4>Number of red-flag/intervention records pending
                    <p class="number-info">7</p>
                </h4>
                <h4>Number of red-flag/intervention records under investigation
                    <p class="number-info-big">4</p>
                </h4>
                <h4>Number of red-flag/intervention records rejected
                    <p class="number-info">0</p>
                </h4>

                <h3 class="h3heading">All Records</h3>
                <div class="wrap-all-records">
                    <ul>
                        <li><a class="list-records">Water system in Seeta town is damaged</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">Some street lights in seeta town are not working</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">An electricity pole fell in Bajo town</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">The jinja road high has a very big hole on the sides just after seeta town</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">The roads in seeta town have so many pot holes</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">An electricity pole fell in Bajo town</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">The jinja road high has a very big hole on the sides just after seeta town</a> </li>
                        <p class="dot">.</p>
                        <li><a class="list-records">The roads in seeta town have so many pot holes</a> </li>
                    </ul>
                </div><br>
            </div>
        </div>
    </div>
</body>

</html>