<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iReporter|Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/response_messages.css" />
</head>

<body>
    <div class="flex-container container">

        <div class="banner">
            <img class="banner-img" src="../assets/img/logo.png">
        </div>
        <br><br>
        <div class="Login-container">
                <div id="message_box"></div>
            <div id="error_box"></div>
            <h3>Signup</h3>
            <form>
                <input id="firstname" type="text" required placeholder="firstname">
                <input id="lastname" type="text" required placeholder="Lastname">
                <input id="othernames" type="text" required placeholder="Othernames">
                <input id="username" type="text" required placeholder="Username">
                <input id="email" type="email" required placeholder="Email">
                <input id="phonenumber" type="number" required placeholder="Phonenumber">
                <input id="password" type="password" required placeholder="Password">

                <button id="signup_btn" onclick="signUp(event)">Signup</button>

            </form><br>
            <p class="h4">Already have an account!<a class="login_link" href="index.htm">  Login</a></p>
            <br>

        </div>
    <script src="../assets/js/signup.js"></script>
</body>

</html>