.flex-container-grid {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-top: 2%;
}

.menu-container {
    background-color: rgb(70, 67, 67);
    margin-left: 1%;
    padding: 8px;
}

.extra-space {
    margin-top: 200px;
}

.pp {
    height: 100px;
    margin-left: 35px;
}

h5 {
    color: rgb(196, 195, 195);
    margin-left: 43px;
}

.status {
    display: inline;
}

.mark-status {
    width: 15%;
    display: inline;
    margin-left: 150px;
}

.mark-status2 {
    width: 15%;
    display: inline;
    margin-left: 100px;
}

.mark-status3 {
    width: 15%;
    display: inline;
    margin-left: 175px;
}

.mark-status4 {
    width: 15%;
    display: inline;
    margin-left: 100px;
}

.user-records:hover {
    background-color: #f7f7f7;
    cursor: default;
}

button {
    background-color: rgb(4, 139, 110);
    border: 2px solid rgb(4, 150, 118);
    border-radius: 3px;
    color: white;
    float: right;
    text-decoration: none;
    width: 15%;
    margin-left: 0px;
}

button:hover {
    background-color: rgb(8, 143, 98);
    border-color: rgb(8, 143, 98);
    cursor: pointer;
}