.flex-container-grid {
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin-top: 2%;
}

.menu-container {
    background-color: rgb(70, 67, 67);
    margin-left: 1%;
    padding: 8px;
}
.banner-img{
    width: 100% !important;
}

.extra-space {
    margin-top: 100px;
}

.pp {
    height: 100px;
    margin-left: 35px;
    margin-bottom: 0px;
}

h5 {
    color: rgb(196, 195, 195);
    margin-left: 43px;
    margin-top: 3px;
}

.status {
    display: inline;
}

.mark-status {
    width: 15%;
    display: inline;
    margin-left: 150px;
}

.mark-status2 {
    width: 15%;
    display: inline;
    margin-left: 100px;
}

.mark-status3 {
    width: 15%;
    display: inline;
    margin-left: 175px;
}

.mark-status4 {
    width: 15%;
    display: inline;
    margin-left: 100px;
}

.user-records:hover {
    background-color: #f7f7f7;
    cursor: default;
}

button {
    background-color: rgb(4, 139, 110);
    border: 2px solid rgb(4, 150, 118);
    border-radius: 3px;
    color: white;
    float: right;
    text-decoration: none;
    text-align: left;
    padding-left: 19px;
    width: 90px;
    height: 45px;
    margin-left: 0px;
}

button:hover {
    background-color: rgb(8, 143, 98);
    border-color: rgb(8, 143, 98);
    cursor: pointer;
}

#data_card{
    margin-top: 15px;
    margin-bottom:10px;
    margin-right: 200px; 
    padding: 10px;
    border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top: 3px black !important;
}

.buttons{
    margin-bottom: 80px;
    margin-left: 0px !important;
    margin-right: 400px;
}
.br{
    display: none;
}
form{
    margin-left: 200px !important;
}
.action_buttons{
    margin-left: 5%;
    margin-right: 50%;
}
.h3{
    margin-left: 38%;
    margin-right: 0%;
    margin-top: 1%;
}
select{
    width: 200px;
    margin-left: 20%;
    margin-right: 0% ;
}
#cancel{
    margin-left: 0px !important;
}


@media (max-width:700px) {
    .flex-container-grid {
        display: grid;
        grid-template-columns: 12fr;
    }
    .extra-space {
        margin-top: 0px;
    }
    p{
        overflow: hidden;
    
    }
    .pp {
        height: 50px;
        margin-left: 35px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .banner-img {
        margin-left: 30px;
        width: 80% !important;
    }
    .h3heading {
        margin-right: 35% !important;
        text-align: center;
    }
    h5 {
        margin-top: 4px;
    }
    .mark-status {
        width: 100px;
        display: block;
        margin-left: 0px !important;
        float: none;
    }
    .mark-status2 {
        width: 100px;
        display: inline;
        margin-left: 0px;
        float: inherit;
    }
    .mark-status3 {
        width: 100px;
        display: inline;
        margin-left: 0px;
        float: inherit;
    }
    .mark-status4 {
        width: 100px;
        display: inline;
        margin-left: 0px;
        float: inherit;
    }
    button {
        width: 100px;
        height: 45px;
        margin-left: 0px;
        float: left;
        display: block;
        margin-top: 0px;
    }
    .user-records {
        margin-bottom: 60px;
    }
    .extra-space {
        margin-top: 0px;
    }
    #data_card{
        margin-right: 20px;
    }

    .buttons{
        margin-bottom: 150px;
        margin-left: 270px !important;
        margin-right: 300px;
        display: inline;
        /* margin: 0% 10% 0% 20%; */
    }
    .br{
        display: block;
    }
    select{
        width: 200px;
        margin-left: 0%;
        margin-right: 30%;
    }
    form{
        margin-left: 0px !important;
    }
}
@media (max-width:1187px) {
    .content-container{
        margin: 0px;
    }
    button {
        /* background-color: rgb(4, 139, 110);
        border: 2px solid rgb(4, 150, 118); */
        border-radius: 3px;
        display: inline;
        color: white;
        /* float: right; */
        text-decoration: none;
        text-align: left;
        padding-left: 19px;
        width: 90px;
        height: 45px;
        /* margin-left: 0px; */
    }
    p{
        overflow: hidden !important;
       
    }
    .mark-status{
        float: left !important;
        margin-left:70px;
    }
}