#message_box{
    background-color: rgba(4, 192, 114, 0.781);
    color: white;
    font-size: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    margin: 0px;
    border-radius: .3em;
    display: none;
}
#error_box{
    background-color: rgba(255, 0, 0, 0.445);
    color: white;
    font-size: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 7px;
    padding-bottom: 4px;
    margin: 0px;
    border-radius: .3em;
    display: none;
}
#edit_comment_message_box{
    background-color: rgba(4, 192, 114, 0.781);
    color: white;
    font-size: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    margin: 0px;
    border-radius: .3em;
    display: none;
}
#edit_comment_error_box{
    background-color: rgba(255, 0, 0, 0.445);
    color: white;
    font-size: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 7px;
    padding-bottom: 4px;
    margin: 0px;
    border-radius: .3em;
    display: none;
}

#edit_location_message_box{
    background-color: rgba(4, 192, 114, 0.781);
    color: white;
    font-size: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    margin: 0px;
    border-radius: .3em;
    display: none;
}
#edit_location_error_box{
    background-color: rgba(255, 0, 0, 0.445);
    color: white;
    font-size: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 7px;
    padding-bottom: 4px;
    margin: 0px;
    border-radius: .3em;
    display: none;
}
@media (max-width:700px) {

    .response_container{
        margin-right: 5% !important;
          }
    

}





