.content {
    margin-left: 80px;
    margin-bottom: 5px;
    padding-right: 50px;
}
.content-container{
    margin-bottom: 250px;   
}

.menu-container{
    overflow: hidden;
    margin-bottom: 250px;
}

.h3heading {
    background-color: white;
    box-shadow: 0px 1px 4px 1px #6d6c6c8c;
    padding: 4px;
    margin-right: 70%;
    text-align: center;
}

.user-records {
    background-color: rgba(137, 43, 226, 0.089);
    padding: 5px 10px 5px 10px;
    margin-top: 0px;
    margin-right: 100px;
    color: rgb(65, 64, 64);
}

.user-records:hover {
    background-color: #f7f7f746;
    cursor: default;
}

h3 {
    color: rgb(0, 128, 79);
}

img {
    height: 20px;
    width: auto;
    border-radius: 9px;
}

.edit {
    margin-left: 40px;
    float: right;
    cursor: pointer;
}

.trash {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}
#select_type{
    height: 40px;
    width: auto;
    font-size: auto;
}

#display_record{
    overflow: auto;
    margin-right: 100px;
}

#incident_id{
    display: inline;
}
#record_type{
    display: inline;
}
#data_card{
    margin: 10px;
    margin-top: 15px;
    margin-bottom:10px; 
    padding: 10px;
    border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top: 3px black !important;
}
h6,#meta_data1, #meta_data2{
    color: rgba(48, 51, 50, 0.89);
    font-size: 14px;
    display: inline;
}
#meta_data2{
    margin-left: 15px;
}
hr{
    border: 1px solid rgba(71, 70, 70, 0.096);
}
#comment{
    color: #363535e8;
    cursor: pointer;
}
#comment:hover{
    background-color: #9696961e;
    border-radius: .3em;
}

@media (max-width:700px) {
    .display_record {
        margin-right: 0px !important;
    }

#display_record{
    overflow: auto;
    margin-right: 0px;
}
    #data_card{
        margin:0px;  
      
    }
    .content {
        margin-left: 20px;
        margin-bottom: 3px;
        padding-right: 10px;
    }

.menu-container{
    overflow: hidden;
    margin-bottom: 20px;
}

form{
    margin:0px !important; 
}
#cancel{
    margin-left: 23px !important;
    display: block;
  }
  .h3{
      margin-left: 15% !important;
  }
  .response_container{
margin-right: 5% !important;
  }

}




/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: .3em;
    overflow: auto;
    margin-bottom: 200px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }  

  /* tab style*/
  .tabs{
      overflow: hidden;

  }

  .tablinks{
      background-color: rgb(121, 14, 124);
      width: auto;
      height: 40px;
      border: 1px solid rgb(123, 9, 129);
      outline: none;
      display: inline;
      cursor: pointer;
      padding-bottom:30px !important;
      margin-left: 2px;
      margin-right: 2px;
      transition: 0.3s;
      font-size: 17px;
  }
  .tabs button:hover{
      background-color: rgb(149, 10, 184);
      border: none;
  }
  .tabs button.active{
      background-color: rgb(170, 14, 136);
      border: none;
  }
  #update_comment{
      border: none;
      height: 43px;
      width: auto;
      display: inline;
  }
  #update_comment:hover{
   background-color: rgba(34, 117, 72, 0.795);
}
  #cancel{
    border: none;
    background-color: rgba(161, 15, 45, 0.815);
    height: 43px;
    width: auto;
    display: inline;
    margin-left: 0px;
  }
  .tabcontent{
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
  }
  @-webkit-keyframes fadeEffect{
      from {opacity: 0;}
      to {opacity: 1;}
  }
  @keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabdiv{
    margin-top: 10px;
    display: block;
}
#Record_details{
    display: block;
}
.h3{
    margin: 0px 5% 0px 35%;
}
.buttons{
    margin: 0% 10% 0% 20%;
}
.data{
    border: 1px solid rgba(128, 128, 128, 0.274);
    width: 70%;
    margin-top: 15px;
    margin-bottom:10px;
    margin-left: 20% !important;
    color: #252525dc;
    padding: 1px 6px 1px 6px;
    border-radius: .3em;
    background-color: rgba(214, 210, 210, 0.24);
    padding: 8px 15px 8px 15px;
    
}

#record_comment_data{
    overflow: auto;
    padding-top: 15px;
}
label{
    margin-left: 20% !important;
}
form{
    margin: 0px 10px 0px 170px; 
}